@import url("bootstrap.min.css");

@font-face {
    font-family: 'meine-schrift';
    src: url('7seg.ttf') format('truetype');
}
body, * {
    background-color: green;
    font-family: sans-serif;
    font-size: 32pt;
    color: white;
}
.points {
    font-family: 'meine-schrift';
    font-size: 110pt;
    color: red;
    background-color: black;

}
.time {
    font-family: 'meine-schrift';
    font-size: 110pt;
    color: yellow;
    background-color: black;
}
.timebox {
    width: 80%;
}