@import url("bootstrap.min.css");

@font-face {
    font-family: 'meine-schrift';
    src: url('7seg.ttf') format('truetype');
}
body {
    background: green !important;
}
h1 {
    color: white;
}
.points {
    font-family: 'meine-schrift';
    font-size: 100pt;
    color: red;
    background-color: black;

}
.time {
    font-family: 'meine-schrift';
    font-size: 100pt;
    color: yellow;
    background-color: black;
}
.timebox {
}
